body {
  margin: 0px;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: radial-gradient(
      200% 200% at 100% 100%,
      transparent 50%,
      #f5f5f5 20%
    ),
    radial-gradient(200% 200% at 0% 0%, transparent 50%, #f5f5f5 20%);
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-origin: border-box;
  background-repeat: no-repeat;
}

#root {
  position: relative;
}
